@font-face {
  font-family: 'Poppins Regular';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Thin';
  src: url('fonts/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
}

:root {
  /* variables */
  --green-black: rgb(24, 28, 28);
  --white: rgb(255, 255, 255);
  --border-color: rgb(55, 152, 106);
  --easy-green-text: rgb(62, 207, 142);
}

html {
  height: 100%;
}

body {
  background-color: var(--green-black);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: var(--white);
  font-family: 'Poppins Light';
}

/* CSS for main */
main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  color: var(--white);
  font-family: "Poppins Light";
}

/* CSS for about page */
.about {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-image img{
  border: 1px solid var(--border-color);
  border-radius: 30px;
}

.about-text {
  flex: 1;
  margin-left: 20px;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--green-black);
  color: var(--white);
  border-bottom: var(--border-color) 1px solid;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: var(--white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar h1 a {
  color: var(--easy-green-text);
  font-family: "Poppins Regular";
}

.nav-list {
  font-family: 'Poppins Thin';
}

.nav-list li {
  transition: transform 0.2s ease;
}

.nav-list li:hover{
  transform: translateY(-4px);
}

.nav-list li:active{
  transition: transform 0.1s ease;
  transform: translateY(0px);
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-black);
  color: var(--white);
  border-top: var(--border-color) 1px solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
