@font-face {
  font-family: 'Poppins Regular';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
}

:root {
  /* variables */
  --lighter-black: rgb(36, 36, 36);
  --darker-black: rgb(20, 20, 20);
  --blue: rgb(36, 94, 255);
  --grey: rgb(243, 243, 243);
  --white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background-color: var(--darker-black);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: var(--white);
  font-family: 'Poppins Light';
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--lighter-black);
  color: var(--white);
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: var(--white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighter-black);
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
